:root{
    --main-radius:5px;
    --main-padding:5px;
    --main-bg-color: white; 
}



.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.3fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 2fr 1.5fr 0.2fr;
    grid-template-areas:
    "nav nav"
    "header header"
    "sidebar1 about-container"
    "sidebar2 work-container"
    "sidebar3 contact-container"
    "footer footer";
    grid-gap: 0.5rem;
    font-family: "Inter" sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--main-bg-color);

    
}

nav{
    background-color: lightblue;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

nav a {
    color: white;
    padding: 15px 20px;
    float: right;
    text-decoration: none;
    text-align: center;

}

header{
    background-image: url(./images/banner-night-skyline.jpg);
    grid-area: header;
    border-radius: var(--main-radius);
    padding: 15 px 20px;
    text-align: right;
    color: white;
}


#sidebar1{
    background-color:var(--main-bg-color);
    grid-area: sidebar1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-right-style: solid;
    border-color: darkblue;
    text-align: right;
    font-size: 40px;
}

#sidebar2{
    background-color:var(--main-bg-color);
    grid-area: sidebar2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-right-style: solid;
    border-color: darkblue;
    text-align: right;
    font-size: 40px;
}

#sidebar3{
    background-color:var(--main-bg-color);
    grid-area: sidebar3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-right-style: solid;
    border-color: darkblue;
    text-align: right;
    font-size: 40px;
}

.about-container{
    grid-area: about-container;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

} 

.work-container{
    display: flex;
    flex-wrap: wrap;
    grid-area: work-container;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 500px;
    
}

.work-container h4 strong{
    display: block;
    font-size: 75%;
    position: relative;
}

.flexbox-item{
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    height: 100px;
    margin: 10px;
    border: 3px solid teal;
    background-color: lightgray;
    
}

.flexbox-item-1{
    min-height: 300px;
    width: 76%;
}
.flexbox-item-2{
    min-height: 50px;
    max-width: 447px;
   }
   
.flexbox-item-3{
    min-height: 50px;
    max-width: 447px;
    
}
.flexbox-item-4{
    min-height: 50px;
    max-width: 447px;
   
}
.flexbox-item-5{
    min-height: 50px;
    max-width: 447px;
    
}

/* need format for titles and subtitles of projects in flexboxes */
.work-container h4,h5 {
    color: brown;

}

.contact-container{
    display: inline-block;
    grid-area: contact-container;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    position: relative;
    bottom: 0;
}

footer{
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
} 

@media only screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.5fr 1fr 3fr 0.8fr 0.2fr;
        grid-template-areas:
        "nav"
        "main"
        "sidebar"
        "about"
        "work"
        "contact"
        "footer"
    }
}